@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
    font-weight: 300;
    text-align: center;
    background-color: #f8f6f0;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 5px;
    background-image: url("Logo.png");
    width: 320px;
    height: 139px;
    background-size: contain;
}

@media only screen and (max-width: 600px) {
 .logo {
    width: 200px;
    height: 87px;
 }
}

.title {
    font-weight: 600;
    margin: 0px;
    padding: 5px;
    font-size: 30px;
    background-color: rgb(0, 43, 90);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
 .title {
     font-size: 20px;
 }
}

.question{
    font-size: 22px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(245, 130, 32);
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .question {
        font-size: 17px;
    }
}
.answers {
    font-size: 20px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


@media only screen and (max-width: 600px) {
    .answers{

        font-size: 16px;
    }
}

.answers label{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;

}
button {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    background-color: rgb(245, 130, 32);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#btns {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 347px;
    margin-bottom: 20px;

}

@media only screen and (max-width: 600px) {
    #btns {
        margin-top: 300px;

    }
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide{
    opacity: 1;
    z-index: 2;
}
.quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#results {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: rgb(245, 130, 32);
    position: absolute;
        top: 750px;
    margin: 20px auto;
    width: 100%;

}

@media only screen and (max-width: 600px) {
    #results {
        font-size: 17px;
        position: absolute;
         top: 480px;
    }
}

.qphoto {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    border: 5px solid rgb(245, 130, 32);
    width: 100%;
    height: auto;
    max-width: 444px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-contents {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .modal-contents {
        margin: 30% auto;
        width: 70%;
    }
}

.close {
    display: inline-block;
    width: 100%;
    text-align: right;
}

#result {
    display: inline-block;
    font-size: 25px;
    color: orange;
}



.refresh {
    width: 40px;
    height: 40px;
    background-image: url("refresh.svg");
}

.fa-sync {
   color: rgb(245, 130, 32);
   font-size: 50px;
   position: absolute;
    right: 50px;
}

@media only screen and (max-width: 600px) {
   .fa-sync {
       font-size: 25px;
       position: absolute;
        right: 25px;
   }
}

#next {
    margin-left: 10px;
}

#submit {
    margin-left: 10px;
}

.progres {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: rgb(0, 43, 90);
    font-size: 20px;
}

p {
    text-align: center;
}

#progress {
    position: absolute;
    text-align: center;
    width: 200px;
    font-size: 90px;
    margin-top: 30px;
    font-weight: bold;
    color: rgb(245, 130, 32) ;
}

#animProg {
    position: relative;
    margin: 20px;
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
}

#inputScore {
    text-align: center;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: 20px;
}

progress[value]::-webkit-progress-value {
    background-color: rgb(245, 130, 32);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.timer span {
    color: rgb(0, 43, 90);
}

.starter {
 display: flex;
 align-items: center;
 justify-content: center;
}

#timeWrap {
    display: none;
}

#start {
    border-radius: 40px 40px;
    width: 300px;
    height: 75px;
    font-size: 30px;
}

.steering {
    border-radius: 30px 30px;
}

.modal-contents button {
    margin-top: 50px;
    border-radius: 30px 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.share {
    color: rgb(0, 43, 90);
    font-size: 18px;
}
